.pr-checklist-container {
	margin-left: 4%;
	width: 50%;
}

.pr-checklist-header {
	margin: auto 21.5%;
	font-size: 20px;
}

.pr-col {
	float: left;
	width: 45%;
}

.pr-row {
	min-height: 30px;
}

.pr-row:after {
	content: '';
	display: table;
	clear:	both;
}

#pr-check-all {
	margin: auto 22%;
	display: block;
}